<div class="navbar-default sidebar text-left hidden-xs hidden-sm" role="navigation">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-add-page">Dodaj stronę</button>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-add-panel">Dodaj panel</button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label for="pattern-net-size">Rozmiar siatki (px):</label>
        </div>
        <div class="col-md-4 text-right">
            <label for="pattern-net-size">ON/OFF</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <input id="pattern-net-size" type="number" class="form-control" placeholder="min 25" min="25" step="25" />

        </div>

        <div class="col-md-5 text-right">
            <button type="button" class="btn btn-default btn-pattern-net"><span class="toggler">&nbsp;</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="pattern-net-size">Lista paneli:</label>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <button type="button" class="btn btn-default btn-panel-list"><i class="fa fa-list-ul fa-fw"></i><span class="toggler">&nbsp;</span></button>
                </div>                
                <div class="col-md-1">
                    <label><i class="fa fa-font fa-1x fa-fw"></i></label>
                    <input type="checkbox" id="panel-list-text" checked/>
                </div>
                <div class="col-md-1">
                    <label><i class="fa fa-picture-o fa-1x fa-fw"></i></label>
                    <input type="checkbox" id="panel-list-image" checked/>
                </div>
                <div class="col-md-1">
                    <label><i class="fa fa-hdd-o fa-1x fa-fw"></i></label>
                    <input type="checkbox" id="panel-list-variable" checked/>
                </div>
                <div class="col-md-1">
                    <label><i class="fa fa-arrows-h fa-1x fa-fw"></i> </label>
                    <input type="checkbox" id="panel-list-widget" checked/>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-list-container">

    </div>
</div>
