/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
nbproject/
src/BmsConfigurationBundle/Resources/public/
src/BmsDataAnalyzeBundle/Resources/public/
src/BmsVisualizationBundle/Resources/public/images/
src/WriteBundle/Resources/views/
web/images/user/
.idea/
src/BmsBundle/Resources/views/Pages/
!src/BmsBundle/Resources/views/Pages/.gitkeep
composer.phar
