
<div class="row">
    <div class="col-xs-12 text-center">

        <div id="{{page.id}}" class="well page" style="
             width: {{page.width}}px;
             height: {{page.height}}px;
             background-color: {{page.backgroundColor}};
             ">
            {% for panel in page.panels %}
                {% include 'BmsVisualizationBundle::panel.html.twig' %}
            {% endfor %}           
        </div>
    </div>

    <div class="col-lg-4 col-lg-offset-4 error-message text-center">
        <i class='fa fa-warning fa-3x blink fa-red'></i>
    </div>
</div>