<div class="row">
    <div class="col-xs-12 text-center">

        <div id="{{page.id}}" class="well page" style="
             width: {{page.width}}px;
             height: {{page.height}}px;
             background-color: {{page.backgroundColor}};
             ">
            {% for panel in page.panels %}
                {% include 'BmsVisualizationBundle::panel.html.twig' %}
            {% endfor %}           
        </div>
    </div>

</div>