
<div class="col-xs-6">
    <span class="label label-primary">Aktualny czas: </span><span class="label label-primary clock"></span>
</div>
<div class="col-xs-6 text-right">
    <span class="label label-primary">Do odświeżenia: </span><span class="label label-primary timer"></span>
    <input />
</div>
<div class="col-xs-12 text-center">
    <div id="{{page.id}}" class="well page" style="
         width: {{page.width}}px;
         height: {{page.height}}px;
         ">
        {% for panel in page.panels %}
            {% include 'BmsVisualizationBundle::panel.html.twig' %}
        {% endfor %}           
    </div>
</div>

