<div class="dialog-page-add-settings" title="Podaj właściwości nowej strony:">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="name">Nazwa strony:</label>
                <input id="name" type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="width">Szerokość w pikselach:</label>
                <input id="width" type="number" class="form-control" value="1200"/>
            </div>
            <div class="col-md-6">
                <label for="height">Wysokość w pikselach:</label>
                <input id="height" type="number" class="form-control" value="700"/>
            </div>
        </div>
    </div>
</div>