<div class="well well-lg">
    <div class="row">
        <div class="col-md-1">
            <div class="checkbox">
                <label><input id="href" type="checkbox" {% if panel.href is not null%} checked {% endif %}><span class="label label-dialog-panel">Link aktywny?</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <label for="pages">Strona:</label>
            <select class="form-control pages" {% if panel.href is null%} disabled{%endif%}>
                <option value="" {% if panel.href is null%} selected {% endif %}>BRAK</option>
                {% for page in pages %}
                    <option value="{{ page.id }}" {% if panel.href == page.id %} selected {%endif%}>{{ page.id }} - {{ page.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>