<div class="well well-lg">
    <div class="row">
        <div class="form-group">
            <label for="panel-name">Źródło danych := </label>
            <input id="panel-name" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-xs">Dodaj zmienną</button>
            <button class="btn btn-default btn-xs">Dodaj obraz</button>
            <button class="btn btn-default btn-xs">Dodaj tekst</button>
        </div>
    </div>
</div>