<div class="dialog-panel-settings " title="Kreator paneli">
    <form id="panel" class="form-horizontal" role="form">
        <div class="row dialog-panel-general">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4" for="panel-name">Nazwa panelu:</label>
                    <div class="col-md-8 input-group-sm">
                        <input id="panel-name" type="text" name="Nazwa panelu" class="form-control" required value="panel{{newId}}"/>
                    </div>
                </div>
            </div>       
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label><input id="visibility" type="checkbox" 
                                          {% if terms is not empty %}
                                              disabled 
                                          {% else %} 
                                              checked
                                          {% endif %}
                                          >
                                <span class="label label-dialog-panel"> Aktywny?</span></label>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </form>
    <ul class="nav nav-tabs">
        <li id="dialog-panel-data" class="active"><a>Żródło danych</a></li>
        <li id="dialog-panel-format" class=""><a>Format</a></li>
        <li id="dialog-panel-navigation" class=""><a>Nawigacja</a></li>
        <li id="dialog-panel-event" class=""><a>Zdarzenia</a></li>
    </ul>

    <div class="row dialog-panel-data">
        <div class="col-md-12">
            {% include 'BmsVisualizationBundle:dialog:panelDialogData.html.twig' %}
        </div>
    </div>
    <div class="row dialog-panel-format">
        <div class="col-md-12">
            {% include 'BmsVisualizationBundle:dialog:panelDialogFormat.html.twig' %}
        </div>
    </div>
    <div class="row dialog-panel-navigation">
        <div class="col-md-12">
            {% include 'BmsVisualizationBundle:dialog:panelDialogHref.html.twig' %}
        </div>
    </div>
    <div class="row dialog-panel-event">
        <div class="col-md-12">
            {% include 'BmsVisualizationBundle:dialog:panelDialogEvent.html.twig' %}
        </div>
    </div>
</div>