<div class="well well-lg">
    <form id="progress-bar">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <label for="value">Źródło danych wartość odczytana:</label>
                    <div class="input-group col-md-12">
                        <div class="form-group">
                            <input id="progress-bar-value" name="Źródło danych" type="text" class="form-control" disabled/>
                        </div>
                        <span class="input-group-btn">                    
                            <button id="progress-bar-manager-value" class="btn btn-default" type="button"><i class="fa fa-plus fa-fw"></i></button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <label for="set">Źródło danych wartość zadana:</label>
                    <div class="input-group col-md-12">
                        <div class="form-group">
                            <input id="progress-bar-set" name="Źródło danych" type="text" class="form-control" disabled/>
                        </div>
                        <span class="input-group-btn">                    
                            <button id="progress-bar-manager-set" class="btn btn-default" type="button"><i class="fa fa-plus fa-fw"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4" style="position: absolute">
                <div class="row text-center">
                    <div class="col-md-2 col-md-offset-1">
                        <input id="color1" type="color" class="form-control" value="#5BC0DE" />
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <input id="color2" type="color" class="form-control" value="#F0AD4E" />
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        <input id="color3" type="color" class="form-control" value="#D9534F" />
                    </div>
                </div>
                <div class="progress" style="margin-bottom: 0px;">
                    <div id="value" style="position: absolute; top: 37px; left: 50.272%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                        <i class="fa fa-arrow-down fa-fw hidden"></i>
                    </div>
                    <div id="set" style="position: absolute; top: 34px; left: 50%; height: 100%; z-index: 14">
                        <img src="/images/system/linegreen.jpg" class="img-responsive"/>
                    </div>
                    <div id="pb1" class="progress-bar" role="progressbar" style="width: 33%; background-color: #5BC0DE">
                    </div>
                    <div id="pb2" class="progress-bar" role="progressbar" style="width: 34%; background-color: #F0AD4E">
                    </div>
                    <div id="pb3" class="progress-bar" role="progressbar" style="width: 33%; background-color: #D9534F">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div class="row">
                        <div id="rangeMin" class="col-md-2 input-group-sm">
                            <input class="form-control" type="number" value="0"/>
                            <label>Min</label>
                        </div>
                        <div class="col-md-2 col-md-offset-1 input-group-sm">
                            <input class="form-control" type="number" value="33"/>
                            <label>Optimum Min</label>
                        </div>
                        <div class="col-md-2 col-md-offset-2 input-group-sm">
                            <input class="form-control" type="number" value="66"/>
                            <label>Optimum Max</label>
                        </div>
                        <div id="rangeMax" class="col-md-2 col-md-offset-1 input-group-sm">
                            <input class="form-control" type="number" value="100"/>
                            <label>Max</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
