<div class="variable-manager" title="Manager zmiennych:">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="registers">Rejestry:</label>
                <select class="form-control registers">
                    {% for register in registers %}
                        <option value="{{ register.name }}&{{register.registerCurrentData.fixedValue}}">{{ register.name }} - {{ register.description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>