<div>
    GADGET CLOCK
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-font fa-fw"></i> {{ gadgetClock.id }}
            <a href="{{ path('gadgetclock_copy', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="#"><i class='fa fa-fw fa-bolt fa-yellow'></i></a>
            <a href="{{ path('gadgetclock_edit', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('gadgetclock_delete', {'id': gadgetClock.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>