<div>
    INPUT BUTTON
    {% if labels %}
        <span class="label label-primary label-bms-panel">
            <i class="fa fa-font fa-fw"></i> {{ inputButton.id }}
            <a href="{{ path('inputbutton_copy', {'id': inputButton.id }) }}"><i class='fa fa-fw fa-clone fa-blue'></i></a>
            <a href="#"><i class='fa fa-fw fa-bolt fa-yellow'></i></a>
            <a href="{{ path('inputbutton_edit', {'id': inputButton.id }) }}"><i class='fa fa-fw fa-cogs fa-yellow'></i></a>
            <a href="{{ path('inputbutton_delete', {'id': inputButton.id }) }}"><i class='fa fa-fw fa-trash-o fa-red'></i></a>
        </span>
    {% endif %}
</div>