div#step1{
    height: 85%;
}

div#step2,
div#step3,
div#step4,
div#step5{
    height: 85%;
    display: none;
}


span#step2,
span#step3,
span#step4,
span#step5{
    display: none;
}

div#step1 > div,
div#step2 > div,
div#step3 > div,
div#step4 > div,
div#step5 > div{
    height: 85%;
}

div.row.body{
    height: 85%;
    overflow-y: auto;
}

div.row.header{
    border-bottom: 1px solid rgba(0,0,0,1);
}

div.row.register-choice,
div.row.panel-choice{
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

div.row-top,
div.row-bottom{
    height: 40%;
}
fiv.row-middle{
    height: 10%;
}

div.images span.label:hover,
i.fa-remove:hover,
i.fa-plus-circle:hover,
span.btn-add-condition:hover{
    cursor: pointer;
}