/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-07-31, 12:49:50
    Author     : Marcin
*/

.fa-red{color: #FF0000;}
.fa-gray{color: #adadad;}
.fa-blue{color: #0E809F;}
.fa-green{color: #207E20;}
.fa-yellow{color: #FFFF00;}
.fa-orange{color: #f26522;}
.hidden{display: none;}
.fa-spinner, div#loading{
    color: #337AB7;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index:999;
}
.navbar{
    margin-bottom: 0px;
}


div.content-container{
    margin-left: 15px;
    margin-right: 15px;
}

.well{
    border-radius: 0px;
    border: solid 1px #337AB7;
    margin-bottom: 5px;
    /*padding-top: 0;*/
    -moz-box-shadow: inset    0 0 8px #337AB7;
    -webkit-box-shadow: inset  0 0 8px #337AB7;
    box-shadow: inset 0 0 8px #337AB7;

}
.well .panel{
    margin-top: 20px;
    -moz-box-shadow: 0 0 8px #337AB7;
    -webkit-box-shadow: 0 0 8px #337AB7;
    box-shadow: 0 0 8px #337AB7;
}
.progress{
    background-color: #aaaaaa;
    height: 10px;
}
.error-message{
    display: none;
    z-index:999;
    background-color: rgba(255,255,255,0.75);
    border: 2px solid black;
    padding: 5px;
    -moz-box-shadow: 0 0 8px #000000;
    -webkit-box-shadow: 0 0 8px #000000;
    box-shadow: 0 0 8px #000000;
    cursor: move;
}
.error-message i.fa-remove{
    float: right;
    margin-top: -6px;
    margin-right: -4px;
    cursor: pointer;
}
span#noInternetConnection, span#errorModbusConnection, span.clock{
    width: 1.3em;
    height: 1.3em;
}
li#generate{
    margin-bottom: -2px;
  }

.pie{
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    border-radius: 100%;
    background-color: #27AE60;
    float: left;
    margin: 2px 7px;
}

.block{
    position:absolute;
    background: #484e55;
    width:10px;
    height:10px;
    display:block;
    border-radius:100%;
    top:4px;
    left:4px;
}
.degree{
    /*90 + ( 360 * .1 )*/
    background-image:
            linear-gradient(90deg, transparent 50%, white 50%),
            linear-gradient(90deg, white 50%, transparent 50%);
}

ul.navbar-clock{
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}