/*SIDEBAR*/
.sidebar {
    background: linear-gradient(rgba(58, 63, 68, 1), rgba(39, 43, 48, 1));
    width: 210px;
    padding: 5px 10px;
    font-size: 12px;
    height: 80vh;
    z-index: 1;
    position: absolute;
}

span.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease;
}

span.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}

/*BODY*/
.main-row {
    max-width: 80%;
    margin-right: 0px;
    margin-left: 210px;
    margin-top: 15px;
}

.main-row div.well {
    position: relative;
    padding: 0px;
    overflow: hidden;
}

/*Siatka pomocnicza*/
.label-pattern-net {
    background-color: #FFF;
    color: #337AB7;
    z-index: 999;
}

.pattern-net {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    overflow: auto;
    padding: -1px;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

.pattern-net-right {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

/*PANELE*/
.bms-panel {
    position: absolute;
    cursor: pointer;
}

.bms-panel:hover,
.bms-panel.hover,
.bms-panel.active {
    z-index: 100;
    box-shadow: 0px 0px 20px #000;
}

.label-bms-panel {
    position: absolute;
    padding: 5px;
    z-index: 50;
    top: 0px;
    left: 0px;
    display: none;
    font-size: 100%;
}