/*SIDEBAR*/
.sidebar {
    background: linear-gradient(rgba(58, 63, 68, 1), rgba(39, 43, 48, 1));
    width: 210px;
    padding: 5px 10px;
    font-size: 12px;
    height: 80vh;
    z-index: 1;
    position: absolute;
}

span.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease;
}

span.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}

/*BODY*/
.main-row {
    max-width: 80%;
    margin-right: 0;
    margin-left: 210px;
    margin-top: 15px;
}

.main-row div.well {
    position: relative;
    padding: 0;
    overflow: hidden;
}

/*Siatka pomocnicza*/
.label-pattern-net {
    background-color: #FFF;
    color: #337AB7;
    z-index: 999;
}

.pattern-net {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    overflow: auto;
    padding: -1px;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

.pattern-net-right {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

/*PANELE*/
.bms-panel {
    position: absolute;
    cursor: pointer;
}

.bms-panel:hover,
.bms-panel.hover,
.bms-panel.active {
    z-index: 100;
    box-shadow: 0 0 20px #000;
}

.label-bms-panel {
    position: absolute;
    padding: 5px;
    z-index: 50;
    top: 0;
    left: 0;
    display: none;
    font-size: 15px;
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

div.thumbnail-list {
    max-height: 250px;
    overflow-y: auto;
}

div.thumbnail-list div {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
}

div.thumbnail-list div:hover {
    border: solid 4px red;
    cursor: pointer;
}

div.thumbnail-list div.selected {
    border: solid 4px #337AB7;
    cursor: pointer;
}

div.thumbnail-list div img {
    max-height: 100%;
    max-width: 100%;
}

div.thumbnail-list div a {
    position: absolute;
    left: 30px;
    top: -4px;
    display: none;
}

/* GADGET PROGRESS BAR */

div.progress-label {
    height: 15px;
    margin-bottom: 0;
    overflow: visible;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0);
}

div.progress-label div{
    float: left;
}

div.bms-gadgetprogressbar div.progress {
    margin-bottom: 0;
    overflow: hidden;
}

div.bms-gadgetprogressbar div.progress div#value {
    position: absolute;
    top: -1px;
    left: 0;
    height: 50%;
    z-index: 15;
    border-left: 2px solid black;
    margin-bottom: 10px;
    margin-left: 1px;
}

div.bms-gadgetprogressbar div.progress div#set {
    position: absolute;
    top: -3px;
    left: 0;
    height: 60%;
    z-index: 14;
    border-left: 4px solid green;
}