
.navbar-left {
    margin-left: 10px;
}

.skin-black .main-header .navbar-brand {
    color: #FFF;
    border-right: 1px solid #eee;
    width: 231px;
    text-align: center;
    background-color: #272b2e;
}

.skin-black .main-header > .navbar {
    background-color: #272b2e;
    margin-left: 231px;
}

.skin-black .main-header > .navbar .nav > .active > a {
    background: #272b2e;
    color: #FFF;
}

.skin-black .main-header > .navbar > .sidebar-toggle,
.skin-black .main-header > .navbar .nav > li > a {
    color: #FFF;
}

.skin-black .main-header > .navbar .nav > .active > a:hover,
.skin-black .main-header > .navbar > .sidebar-toggle:hover,
.skin-black .main-header > .navbar .nav > li:hover > a{
    color: #fff;
    background-color: #000;
    font-weight: bold;
}