
.logo img{
    max-height: none;
    max-width: none;
    margin: initial;
    padding: initial;
}
.btn-default,
.btn-default:active{
    border-color: #3c8dbc;
    color: #3c8dbc;
    background-color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus{
    border-color: #3c8dbc;
    color: #FFF;
    background-color: #3c8dbc;
}

.navbar-left{
    margin-left: 10px;
}

.skin-black .main-header > .logo,
.skin-black .main-header > .navbar > .sidebar-toggle,
.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a{
    border-color: #3c8dbc;
}
