/*BODY*/
.page{
    margin: 0 auto;
    position: relative;
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
}
/*PANELE*/
.bms-panel{
    position: absolute;
    cursor: default;
}

.bms-panel.navigation-panel{
    cursor: pointer;
}

div.progress{
    height: 10px;
}

div.progress-label{
    height: 15px;
    margin-bottom: 0px;
    overflow: visible;
    line-height: 15px;
}