/*BODY*/
.page{
    margin: 0 auto;
    position: relative;
    padding: 0px;
    overflow: hidden;
}
/*PANELE*/
.bms-panel{
    position: absolute;
    cursor: default;
}

.bms-panel.navigation-panel{
    cursor: pointer;
}

.error-message{
/*    border: 1px solid red;*/
}