.dialog-page-add-settings,
.dialog-page-edit-settings,
div.panel-list-controls,
li#dialog-panel-progress-bar,
div#panel-form div.dialog-panel-format,
div#panel-form div.dialog-panel-navigation,
div#panel-form div.dialog-panel-event,
div#panel-form div.dialog-panel-progress-bar {
    display: none;
}

i.fa-plus-circle:hover,
.btn-add-condition:hover,
i.fa-trash-o:hover,
div.image-container span.label:hover,
div.panel-list:hover,
div#panel-form ul.nav-tabs li:hover,
div#panel-form i {
    cursor: pointer;
}

/*SIDEBAR*/
.sidebar {
    background: linear-gradient(rgba(58, 63, 68, 1), rgba(39, 43, 48, 1));
    width: 210px;
    padding: 5px 10px;
    font-size: 12px;
    height: 80vh;
    z-index: 1;
    position: absolute;
}

span.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease;
}

span.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}

div.panel-list.active span {
    background-color: #FF0000;
}

div.panel-list.active div i.icon-type {
    display: none;
}

div.panel-list.active div.panel-list-controls {
    display: inline-block;
}

div.panel-list.active div.panel-list-label {
    overflow: hidden;
}

div.panel-list i:not(.icon-type):hover {
    color: #FF0000;
    font-size: 120%;
}

div.panel-list-container {
    max-height: 300px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 5px;
}

/*BODY*/
.main-row {
    max-width: 80%;
    margin-right: 0px;
    margin-left: 210px;
    margin-top: 15px;
}

.main-row div.well {
    position: relative;
    padding: 0px;
    overflow: hidden;
}

/*PAGE*/
div.label-page {
    margin-right: 2px;
}

div.label-page.active {
    font-size: 90%;
}

div.label-page:hover {
    background-color: #337AB7;
    cursor: pointer;
}

/*Siatka pomocnicza*/
.label-pattern-net {
    background-color: #FFF;
    color: #337AB7;
    z-index: 999;
}

.pattern-net {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    overflow: auto;
    padding: -1px;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

.pattern-net-right {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    box-sizing: content-box;
    z-index: 100;
    position: relative;
    pointer-events: none;
}

/*PANELE*/
.bms-panel {
    position: absolute;
    cursor: pointer;
}

.bms-panel:hover,
.bms-panel.hover,
.bms-panel.active {
    z-index: 100;
    box-shadow: 0px 0px 20px #000;
}

.label-bms-panel {
    position: absolute;
    background-color: #868686;
    z-index: 50;
    width: 120px;
    height: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

div.progress-label {
    height: 15px;
    margin-bottom: 0px;
    overflow: visible;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0);
}

/*Formularz paneli*/
div#panel-form div.well {
    padding-top: 24px;
    box-shadow: unset;
    border: 1px solid rgb(174, 174, 174);
}

div#panel-form div#panel_type {
    margin-right: 0px;
}

div#panel-form button#manager {
    margin-left: 15px;
    margin-top: -15px;
}

div#panel-form select#panel_type {
    border-radius: 4px 0px 0px 4px;
}

div#panel-form input#panel-source-content {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

div#panel-form div.row-label {
    margin-bottom: 15px;
}

div#panel-form ul.nav-tabs li a {
    border: 1px solid rgb(174, 174, 174);
    border-bottom: unset;
}

/*
.panel-preview,
.panel-preview img{
    max-width: 500px;
    max-height: 300px;
}


.table, 
.table-bordered tbody tr td,
.table-bordered thead tr th{
    border: 1px solid #337AB7;
}

.table-bordered thead tr th{
    border-bottom-width: 2px;
    border-top: 0px none;
}
input.clicked{
    opacity: 0.30;
}
.label-title{
    background-color: #005A78;
    font-size: 88%;
}

.table tbody tr:hover{
    font-weight: bold;
    background-color: #adadad;
}
/*condition
div.row.body{
    height: 85%;
    overflow-y: auto;
}

div.row.header{
    border-bottom: 1px solid rgba(0,0,0,1);
}

div.row.register-choice,
div.row.panel-choice{
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
div.row.register-choice.selected{
    background-color: #337AB7;
    color: #FFF;
}
div.row.register-choice:hover{
    background-color: #005A78;
    color: #FFF;
}

div.thumbnail-list{
    margin-top: 8px;
}

div.thumbnail-list div{
    height: 50px;
    width: 50px;
    display: inline-block;
}
div.thumbnail-list div:hover{
    border: solid 4px red;
    cursor: pointer;
}
div.thumbnail-list div.selected{
    border: solid 4px #337AB7;
    cursor: pointer;
}
div.thumbnail-list div img{
    max-height: 100%;
    max-width: 100%;
}*/