<h3><span class="label label-primary">Wybierz warunek:</span></h3>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <select id="condition_type" class="form-control" name="condition_type">
            <option value="==">=</option>
            <option value="!=">&ne;</option>
            <option value=">">&gt;</option>
            <option value=">=">&ge;</option>
            <option value="<">&lt;</option>
            <option value="<=">&le;</option>
        </select>
    </div>
    <div class="col-md-2 col-md-offset-2">
        <input id="condition_val" type="text" class="form-control" name="condition_val"/>
    </div>
</div>