{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>Odnośnik został już wykorzystany, aby ponownie zmienić hasło, wyślij ponowne żądanie.</p>
{% endblock fos_user_content %}