{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/tmpAdmin.css')}}">
{% endblock %}


{% block nav %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div class="row main-row">
        {% include 'BmsAdminBundle::users.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}


