<div class="col-md-10 col-md-offset-1">
    <div class="row header">
        <div class="col-md-2">
            Użytkownik
        </div>            
        <div class="col-md-1 text-center">
            Uprawnienia
        </div>               
        <div class="col-md-1 text-center">
            Potwierdzony email?
        </div>               
        <div class="col-md-1 text-center">
            Odblokowany?
        </div>          
    </div>
    <div class="row body">
        <div class="col-md-12">
            {% for user in users %}
                <div class="row user">
                    <div class="col-md-2">
                        <span>{{user.email}}</span>
                    </div>
                    <div class="col-md-1 text-center">
                        {% for role in user.roles%}
                            <div class="row">
                                <div class="col-md-12">
                                    {{role}}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-1 text-center">
                        {% if user.enabled == 1 %}
                            <i class="fa fa-check-square-o fa-fw fa-green"></i>
                        {% else %}
                            <i class="fa fa-square-o fa-fw fa-red"></i>
                        {% endif %}
                    </div>
                    <div class="col-md-1 text-center">
                        {% if user.enabled == 1 %}
                            {% if user.locked == 0 %}
                                <i class="fa fa-check-square-o fa-fw fa-green"></i>
                            {% else %}
                                <i class="fa fa-square-o fa-fw fa-red"></i>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>