<div class="row">
    <div class="col-xs-12 text-center">

        <div id="1" class="well page" style="
             width: 1200px;
             height: 525px;
             background-color: #FFFFFF;
             ">
                            <div 
            name="I_C1"
    id="2" class="bms-panel text-center bms-panel-image" 
    style="
    top: 375px; 
    left: 625px; 
    width: 100px; 
    height: 100px;
    border: 0px solid #990000;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255,255,255,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    line-height: 100px;
    z-index: 5;
                ">
            <img class="img-responsive" src="/images/user/plytka.jpg"/>
    </div>

                            <div 
            name="V_C1_T"
    id="19" class="bms-panel text-right bms-panel-variable" 
    style="
    top: 375px; 
    left: 900px; 
    width: 50px; 
    height: 25px;
    border: 0px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span id="8" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="V_C1_H"
    id="20" class="bms-panel text-right bms-panel-variable" 
    style="
    top: 425px; 
    left: 900px; 
    width: 50px; 
    height: 25px;
    border: 0px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span id="9" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="T_C1_T"
    id="22" class="bms-panel text-center bms-panel-text" 
    style="
    top: 375px; 
    left: 750px; 
    width: 75px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">C1_T</span>
    </div>

                            <div 
            name="T_C1_H"
    id="23" class="bms-panel text-center bms-panel-text" 
    style="
    top: 425px; 
    left: 750px; 
    width: 75px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">C1_H</span>
    </div>

                            <div 
            name="T_C1"
    id="33" class="bms-panel text-center bms-panel-text" 
    style="
    top: 375px; 
    left: 625px; 
    width: 100px; 
    height: 100px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    line-height: 100px;
    z-index: 5;
                ">
            <span class="bms-panel-content">1</span>
    </div>

                            <div 
            name="V_PT_T0"
    id="41" class="bms-panel text-right bms-panel-variable" 
    style="
    top: 400px; 
    left: 300px; 
    width: 50px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span id="70" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
                title="I_PT1000" 
        name="I_PT1000"
    id="42" class="bms-panel text-left bms-panel-image" 
    style="
    top: 375px; 
    left: 50px; 
    width: 75px; 
    height: 100px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 100px;
    z-index: 99;
                ">
            <img class="img-responsive" src="/images/user/pt-1000.jpg"/>
    </div>

                            <div 
            name="TestProgressBar"
    id="45" class="bms-panel text-center bms-panel-widget" 
    style="
    top: 425px; 
    left: 200px; 
    width: 275px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(136,136,136,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
                                                                                        <div class="progress" style="margin-bottom: 0px;">
                    <div id="value70" style="position: absolute; top: -2px; left: 0%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                                            </div>
                                        <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #f0ad4e">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 46.666666666667%; background-color: #d9534f">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 20%; background-color: #5bc0de">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div id="rangeMin" class="text-right" style="width:3%; float:left">
                        15
                    </div>
                    <div class="text-right" style="width:33.333333333333%; float:left">
                        20
                    </div>
                    <div class="text-right" style="width: 46.666666666667%; float:left">
                        27
                    </div>
                    <div id="rangeMax" class="text-right" style="width: 17%; float:left">
                        30
                    </div>
                </div>
                                                                                                        </div>

                            <div 
            name="T_PT1000_T0"
    id="52" class="bms-panel text-center bms-panel-text" 
    style="
    top: 400px; 
    left: 125px; 
    width: 75px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">PT_T0</span>
    </div>

                            <div 
            name="panel49"
    id="60" class="bms-panel text-center bms-panel-text" 
    style="
    top: 400px; 
    left: 350px; 
    width: 25px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel49"
    id="61" class="bms-panel text-center bms-panel-text" 
    style="
    top: 375px; 
    left: 950px; 
    width: 25px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel49"
    id="62" class="bms-panel text-center bms-panel-text" 
    style="
    top: 425px; 
    left: 950px; 
    width: 25px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span class="bms-panel-content">%</span>
    </div>

                            <div 
            name="TestProgressBar"
    id="65" class="bms-panel text-center bms-panel-widget" 
    style="
    top: 400px; 
    left: 825px; 
    width: 275px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(136,136,136,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
                                                                                                            <div class="progress" style="margin-bottom: 0px;">
                    <div id="value8" style="position: absolute; top: -2px; left: 0%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                                            </div>
                                        <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #5bc0de">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #f0ad4e">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #d9534f">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div id="rangeMin" class="text-right" style="width:3%; float:left">
                        10
                    </div>
                    <div class="text-right" style="width:33.333333333333%; float:left">
                        20
                    </div>
                    <div class="text-right" style="width: 33.333333333333%; float:left">
                        30
                    </div>
                    <div id="rangeMax" class="text-right" style="width: 30.333333333333%; float:left">
                        40
                    </div>
                </div>
                                                                                    </div>

                            <div 
            name="panel82"
    id="82" class="bms-panel text-center bms-panel-text" 
    style="
    top: 350px; 
    left: 25px; 
    width: 475px; 
    height: 150px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(128,128,255,0.5);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 150px;
    z-index: 4;
                ">
            <span class="bms-panel-content">  </span>
    </div>

                            <div 
            name="panel82"
    id="83" class="bms-panel text-center bms-panel-text" 
    style="
    top: 50px; 
    left: 25px; 
    width: 475px; 
    height: 175px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,0,0.5);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 175px;
    z-index: 4;
                ">
            <span class="bms-panel-content">  </span>
    </div>

                            <div 
            name="panel82"
    id="85" class="bms-panel text-center bms-panel-text" 
    style="
    top: 50px; 
    left: 600px; 
    width: 525px; 
    height: 150px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,128,255,0.5);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 150px;
    z-index: 4;
                ">
            <span class="bms-panel-content">  </span>
    </div>

                            <div 
            name="panel82"
    id="86" class="bms-panel text-center bms-panel-text" 
    style="
    top: 225px; 
    left: 600px; 
    width: 525px; 
    height: 275px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,0,0,0.5);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 275px;
    z-index: 4;
                ">
            <span class="bms-panel-content">  </span>
    </div>

                            <div 
            name="panel96"
    id="96" class="bms-panel text-center bms-panel-widget" 
    style="
    top: 450px; 
    left: 825px; 
    width: 275px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
                                                                                                                                <div class="progress" style="margin-bottom: 0px;">
                    <div id="value9" style="position: absolute; top: -2px; left: 0%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                                            </div>
                                        <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #5bc0de">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 38.888888888889%; background-color: #f0ad4e">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 27.777777777778%; background-color: #d9534f">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div id="rangeMin" class="text-right" style="width:3%; float:left">
                        10
                    </div>
                    <div class="text-right" style="width:33.333333333333%; float:left">
                        40
                    </div>
                    <div class="text-right" style="width: 38.888888888889%; float:left">
                        75
                    </div>
                    <div id="rangeMax" class="text-right" style="width: 24.777777777778%; float:left">
                        100
                    </div>
                </div>
                                                                </div>

                            <div 
            name="panel98"
    id="98" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 125px; 
    left: 850px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="4" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="99" class="bms-panel text-left bms-panel-text" 
    style="
    top: 125px; 
    left: 900px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel98"
    id="101" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 150px; 
    left: 850px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 100;
                ">
            <span id="7" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="103" class="bms-panel text-left bms-panel-text" 
    style="
    top: 150px; 
    left: 900px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel104"
    id="104" class="bms-panel text-center bms-panel-image" 
    style="
    top: 75px; 
    left: 625px; 
    width: 200px; 
    height: 100px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 100px;
    z-index: 5;
                ">
            <img class="img-responsive" src="/images/user/ELP11R32-1.jpg"/>
    </div>

                            <div 
            onclick="ajaxChangePage( 10 );"
            name="Obrazek"
    id="105" class="bms-panel text-center bms-panel-image" 
    style="
    top: 75px; 
    left: 50px; 
    width: 200px; 
    height: 125px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 125px;
    z-index: 5;
                    cursor: pointer;
        ">
            <img class="img-responsive" src="/images/user/ELP11R32-1.jpg"/>
    </div>

                            <div 
            name="T_C1"
    id="107" class="bms-panel text-center bms-panel-text" 
    style="
    top: 0px; 
    left: 600px; 
    width: 250px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0.4);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    line-height: 50px;
    z-index: 9;
                ">
            <span class="bms-panel-content">PLC 4</span>
    </div>

                            <div 
            name="T_C1"
    id="108" class="bms-panel text-center bms-panel-text" 
    style="
    top: 0px; 
    left: 25px; 
    width: 250px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0.4);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">PLC 1 z ETH</span>
    </div>

                            <div 
            name="panel98"
    id="109" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 150px; 
    left: 275px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="146" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="110" class="bms-panel text-left bms-panel-text" 
    style="
    top: 150px; 
    left: 325px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel98"
    id="111" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 50px; 
    left: 275px; 
    width: 50px; 
    height: 75px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 75px;
    z-index: 5;
                ">
            <span id="133" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
                title="Temperatura PLC" 
        name="Temperatura PLC"
    id="112" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 50px; 
    left: 325px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="134" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel98"
    id="113" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 75px; 
    left: 325px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="135" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="114" class="bms-panel text-left bms-panel-text" 
    style="
    top: 50px; 
    left: 375px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel49"
    id="115" class="bms-panel text-left bms-panel-text" 
    style="
    top: 75px; 
    left: 375px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">%</span>
    </div>

                            <div 
            name="panel98"
    id="116" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 50px; 
    left: 850px; 
    width: 50px; 
    height: 75px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 75px;
    z-index: 5;
                ">
            <span id="1" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
                title="Temperatura PLC" 
        name="Temperatura PLC"
    id="117" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 50px; 
    left: 900px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="2" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="118" class="bms-panel text-left bms-panel-text" 
    style="
    top: 50px; 
    left: 950px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel98"
    id="119" class="bms-panel text-center bms-panel-variable" 
    style="
    top: 75px; 
    left: 900px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span id="3" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="120" class="bms-panel text-left bms-panel-text" 
    style="
    top: 75px; 
    left: 950px; 
    width: 50px; 
    height: 50px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">%</span>
    </div>

                            <div 
            name="T_C1"
    id="121" class="bms-panel text-center bms-panel-text" 
    style="
    top: 250px; 
    left: 625px; 
    width: 100px; 
    height: 100px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 35px;
    line-height: 100px;
    z-index: 5;
                ">
            <span class="bms-panel-content">4</span>
    </div>

                            <div 
            name="I_C1"
    id="122" class="bms-panel text-center bms-panel-image" 
    style="
    top: 250px; 
    left: 625px; 
    width: 100px; 
    height: 100px;
    border: 0px solid #990000;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255,255,255,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    line-height: 100px;
    z-index: 4;
                ">
            <img class="img-responsive" src="/images/user/plytka.jpg"/>
    </div>

                            <div 
            name="T_C4_T"
    id="123" class="bms-panel text-center bms-panel-text" 
    style="
    top: 250px; 
    left: 750px; 
    width: 75px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">C4_T</span>
    </div>

                            <div 
            name="T_C4_H"
    id="124" class="bms-panel text-center bms-panel-text" 
    style="
    top: 300px; 
    left: 750px; 
    width: 75px; 
    height: 50px;
    border: 0px solid #990000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    z-index: 5;
                ">
            <span class="bms-panel-content">C4_H</span>
    </div>

                            <div 
                title="V_C4_T" 
        name="V_C4_T"
    id="125" class="bms-panel text-right bms-panel-variable" 
    style="
    top: 250px; 
    left: 900px; 
    width: 50px; 
    height: 25px;
    border: 0px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span id="12" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="V_C4_H"
    id="126" class="bms-panel text-right bms-panel-variable" 
    style="
    top: 300px; 
    left: 900px; 
    width: 50px; 
    height: 25px;
    border: 0px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span id="13" class="bms-panel-content" value="1"></span>
    </div>

                            <div 
            name="panel49"
    id="127" class="bms-panel text-center bms-panel-text" 
    style="
    top: 250px; 
    left: 950px; 
    width: 25px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span class="bms-panel-content">°C</span>
    </div>

                            <div 
            name="panel49"
    id="128" class="bms-panel text-center bms-panel-text" 
    style="
    top: 300px; 
    left: 950px; 
    width: 25px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(255,255,255,0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
            <span class="bms-panel-content">%</span>
    </div>

                            <div 
            name="panel130"
    id="130" class="bms-panel text-center bms-panel-widget" 
    style="
    top: 275px; 
    left: 825px; 
    width: 275px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
                                                                                                                                                    <div class="progress" style="margin-bottom: 0px;">
                    <div id="value12" style="position: absolute; top: -2px; left: 0%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                                            </div>
                                        <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #5bc0de">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #f0ad4e">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 33.333333333333%; background-color: #d9534f">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div id="rangeMin" class="text-right" style="width:3%; float:left">
                        10
                    </div>
                    <div class="text-right" style="width:33.333333333333%; float:left">
                        20
                    </div>
                    <div class="text-right" style="width: 33.333333333333%; float:left">
                        30
                    </div>
                    <div id="rangeMax" class="text-right" style="width: 30.333333333333%; float:left">
                        40
                    </div>
                </div>
                                            </div>

                            <div 
            name="panel131"
    id="131" class="bms-panel text-center bms-panel-widget" 
    style="
    top: 325px; 
    left: 825px; 
    width: 275px; 
    height: 25px;
    border: 0px solid #000000;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    line-height: 25px;
    z-index: 5;
                ">
                                                                                                                                                                        <div class="progress" style="margin-bottom: 0px;">
                    <div id="value13" style="position: absolute; top: -2px; left: 0%; height: 100%; z-index: 15">
                        <img src="/images/system/line.jpg" class="img-responsive"/>                
                                            </div>
                                        <div class="progress-bar" role="progressbar" style="width: 40%; background-color: #5bc0de">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 35%; background-color: #f0ad4e">
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #d9534f">
                    </div>
                </div>
                <div class="progress progress-label">
                    <div id="rangeMin" class="text-right" style="width:3%; float:left">
                        0
                    </div>
                    <div class="text-right" style="width:40%; float:left">
                        40
                    </div>
                    <div class="text-right" style="width: 35%; float:left">
                        75
                    </div>
                    <div id="rangeMax" class="text-right" style="width: 22%; float:left">
                        100
                    </div>
                </div>
                        </div>

                       
        </div>
    </div>

</div>